* {
    margin: 0;
    padding: 0;
    border: 0;
}
.main-wr {
    content: "";
    display: block;
    margin: 50px auto;
    width: 1200px;
    height: 400px;
    padding: 20px;
    background-color: #ddd;
}
.b-week {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
}
.b-week h1 {
    flex: 4 1 200px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
.week-button {
    flex: 0 1 40px;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 15px;
    background-color: black;
    cursor: pointer;
}
.week-button:hover {
    background-color: #444444;
}
.days-wr {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    list-style: none;
}
.day {
    position: relative;
    width: 170px;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px 5px 0 0;
}
.day__title {
    text-align: center;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    border-bottom: 2px solid black;
}
.day__content {
    position: relative;
    word-wrap: break-word;
    height: 246px;
    width: 156px;
    display: block;
    padding: 5px;
}
.day__content.active {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
}
.modal-window-wr {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 99;
}
.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-flow: nowrap column;
    width: 600px;
    border: 1px solid black;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.text {
    height: 250px;
    width: 550px;
    resize: none;
    border: 1px solid black;
}
#bg_layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
}
.form-button {
    width: 50px;
    height: 25px;
    margin: 5px 5px;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
}
.form-button:hover {
    box-shadow: 0 0 0.3em black;
}
.label {
    font-size:20px;
    font-weight:bold;
    margin: 5px;
}
#reset-storage {
    width: 120px;
    height: 25px;
    line-height: 21px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    background-color: #fff;
    margin-left: 10px;
}
#reset-storage:hover {
    background-color: #ccc;
}